.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.thead {
  background: #0F172A;
}
.th {
  color: #fff;
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-align: left;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  background: #0F172A;
}
.tr {
  background: #fff;
}
.trAlt {
  background: #F1F5F9;
}
.td {
  color: #1E293B;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  font-size: 1rem;
}
.tdError {
  color: #DC2626;
  font-weight: 600;
}
.tdAverage {
  color: #1E293B;
  font-weight: 600;
}
.tdMain {
  color: #14B8A6;
  font-weight: 600;
}
